.leftcol{
    border-right: 2px solid #ef5d57;
    padding: 5% ;
}
.rightcol{
    background-color: lightgray;
}
.fonts{
    font-family: sans-serif;
}
.bg{
    background-color: #ef5d57;
}
.ff{
    color: #fff;
}
;